<html>
  <head>
    <title>Best-Set</title>
        <!-- <link rel="stylesheet" href="assets/atlas/sprite.css" type="text/css" /> -->
      <link rel="stylesheet" href="assets/style.css" type="text/css" />
      
      <!-- phaser libraries -->      
      <script src="vendor/p2.js"></script>
      <script src="vendor/pixi.js"></script>
      <script src="vendor/phaser.js"></script>

      <!--Plugins-->

      <script src="vendor/phaserspine.js"></script>
      <link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>
      <!-- the game --> 
      <script src="game.js"></script> 
  </head>
  <body>
    
      <div id="content"></div>
      <div id="rotateWarning"></div>
      <div class="editor" id="editor">
        <form>
          <input type="button" id="test" value="export code"/>

          <p><b>asset info</b></p>
          <p>sprite name (seperate different files with ', '):<br/> <input type="input" id="name" value="popupmenu_icon_twitter"/></p>
          <p>spritesheet enable: <input type="checkbox" id="spritesheet"/></p>
          <p>spritesheet FPS: <input type="number" id="fps" value="24"/></p>
          <p>spritesheet loop: <input type="checkbox" id="loop"/></p>

          <p><b>general info</b></p>
          <p>explode: <input type="checkbox" id="explode"/></p>
          <p>max particles: <input type="number" id="maxparticles" value="20"/></p>
          <p>follow mouse: <input type="checkbox" id="mouse"/></p>
          <p>gravity: <input type="number" id="gravity" value="0"/></p>
          <p>lifespan: <input type="number" id="lifespan" value="2000"/></p>
          <p>freq: <input type="number" id="freq" value="100"/></p>
          <p>width: <input type="number" id="width" value="0"/></p>
          <p>height: <input type="number" id="height" value="0"/></p>

          <p><b>alpha info</b></p>
          <p>alpha start: <input type="number" id="alphamin" value="1"/></p>
          <p>alpha end: <input type="number" id="alphamax" value="-1"/></p>
          <p>alpharate: <input type="number" id="alpharate" value="2000"/></p>

          <p><b>scale info</b></p>
          <p>scale start: <input type="number" id="scalemin" value="0"/></p>
          <p>scale end: <input type="number" id="scalemax" value="3"/></p>
          <p>scalerate: <input type="number" id="scaleRate" value="2000"/></p>

          <p><b>position info</b></p>
          <p>minrotation: <input type="number" id="minrotation" value="0"/></p>
          <p>maxrotation: <input type="number" id="maxrotation" value="0"/></p>
          <p>xMinSpeed: <input type="number" id="xMinSpeed" value="-200"/></p>
          <p>xMaxSpeed: <input type="number" id="xMaxSpeed" value="200"/></p>
          <p>yMinSpeed: <input type="number" id="yMinSpeed" value="-1000"/></p>
          <p>yMaxSpeed: <input type="number" id="yMaxSpeed" value="-100"/></p>
        </form>
      </div>
  </body>
</html>
