<html>
  <head>
    <title>webpack demo</title>
        <!-- <link rel="stylesheet" href="assets/atlas/sprite.css" type="text/css" /> -->
      <link rel="stylesheet" href="assets/style.css" type="text/css" />
      
      <!-- phaser libraries -->      
      <script src="vendor/p2.js"></script>
      <script src="vendor/pixi.js"></script>
      <script src="vendor/phaser.js"></script>
    
      <!-- the game -->
      <script src="game.js"></script>
  </head>
  <body>

      <div id="content"></div>

  </body>
</html>
